@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  margin-top: 10em;
}
.navbar {
  transition: transform 0.3s ease, opacity 0.3s ease;
  width: 100vw;
  z-index: 100; 
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  background-color: rgba(247, 244, 244, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar.hidden {
  transform: translateY(-100%);
  opacity: 0;
}

.navbar.visible {
  transform: translateY(0);
  opacity: 1;
}
.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding-bottom: 20px;
}
.logo {
  width: 250px;
}
.contact {
  display: flex;
  align-items: center;
}
.contact h1 {
  margin-left: 10px;
  font-size: 35px;
  font-weight: bold;
  color: #373435; /* Dark grey color from logo */
}
.socials {
  display: flex;
  gap: 15px;
}
.icon {
  color: #00A859; /* Main green color */
  font-size: 35px;
  cursor: pointer;
}
.phone-icon, .whatsapp-icon {
  font-size: 20px;
  margin-right: 5px;
}
.nav-menu {
  border-top: 1px solid #ece9e9;
  margin-top: 20px;
  width: 100%;
  text-align: center;
  padding: 12px 0;
}
.nav-menu a {
  position: relative;
  text-decoration: none;
  padding: 10px 20px;
  color: #373435; /* Dark text */
  transition: all 0.3s ease;
  font-family: 'Zilla Slab', serif;
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
  border-radius: 4em;
}
.nav-menu a:hover {
  background-color: #b5eed3;
  color: #000;
}
.nav-menu a.active {
  background-color: #00A859;
  color: #fff;
}
.nav-menu a.active::before {
  content: '';
  position: absolute;
  left: -8px;
  top: 0;
  width: 0;
  height: 0;
  border-top: 50px solid #00A859;
  border-right: 10px solid transparent;
}
.nav-menu ul {
  list-style: none;
  padding: 0;
}
.nav-menu li {
  display: inline-block;
}
/* General Layout */
.hero-section {
  position: relative;
  width: 100vw;
  background-image: url(/public/images/Hero.png);
  background-size: cover;
  background-position: center;
  padding: 10px 0;
}

.hero-header {
  width: 60vw;
  margin: 0 auto 40px auto;
  text-align: center;
}

.hero-header h1 {
  color: white;
  font-size: 2.5em;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  margin: 1.2em 0;
}

/* Hero Boxes Container */
.hero-boxes {
  display: flex;
  justify-content: space-around;
  width: 60vw;
  margin: 0 auto;
}

/* Individual Hero Box */
.hero-box {
  background-color: black;
  color: green;
  padding: 10px;
  width: 30%;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  transition: transform 0.3s ease; 
}
.hero-box.hero-time p{
  font-size: 12px;
  display: flex;
  justify-content:space-between;
}
/* Icon */
.hero-icon {
  font-size: 30px;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
}

/* Text inside hero box */
.hero-box h4 {
  color: white;
  font-size: 15px;
  margin: 10px 0;
  transition: transform 0.3s ease-in-out; 
  font-family: 'Libre Baskerville', serif;
}
.hero-box p {
  margin: 10px 0;
  transition: transform 0.3s ease-in-out; 
  font-family: 'Libre Baskerville', serif;
  font-size: 13px;
  color: #00E689;
}
.hero-box .hero-time span {
  display:inline-block;
}

/* Hidden Button */
.hero-btn {
  opacity: 0;
  background-color: #14b148;
  border-radius: 4em;
  padding: 3px 15px;
  margin-top: 15px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
  align-self: center;
  font-size: 15px;
  font-weight: 500;
}

/* Hover effect: Text moves up, button appears */
.hero-box:hover h4,
.hero-box:hover p {
  transform: translateY(-10px);
}

.hero-box:hover .hero-btn {
  opacity: 1; 
  transform: translateY(10px); 
}

.hero-btn:hover {
  background-color: #00E689;
  color: white;
}
.mySwiper{
  background-color: #00E689;
}
.image-container {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  transform: translateY(-100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container:hover .hover-overlay {
  transform: translateY(0);
  opacity: 1;
}

.overlay-buttons {
  display: flex;
  gap: 15px;
}

.like-btn, .share-btn {
  background-color: rgba(0,0,0,0); 
  border: none;
  padding: 10px;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}

.like-btn:hover, .share-btn:hover {
  color: rgb(255, 0, 0);
}
.plans-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-image: url('/public/images/room.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: auto;
}

.plans-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2em;
  text-align: center;
}
.plans-container h1{
  font-size: 3em;
  font-family: "Libre Baskerville", serif;
  color: #00E689;
}
.plans-container p{
  font-size: 15px;
  color: white;
  font-family: "Libre Baskerville", serif;
}
.plans-boxes {
  display: flex;
  justify-content: space-between;
  gap: 20px; 
  width: 100%;
  margin-top: 20px;
}

.plans {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color:rgba(0, 0, 0, 0);
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 30%;
  transition: transform 0.3s ease;
}
.plans img {
  width: auto;
  height: auto;
}
.plans p {
  margin: 10px 0;
  list-style: none;
  font-size: 18px;
  width: 10em;
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  font-style: italic;
  text-align: left;
}
.plans button {
  margin-top: 15px;
  background-color: #00E689;
  font-size: 16px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 4em;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.plans button:hover {
  background-color: #0f8e37;
  color: white;
}
.plans.visible .plan-item {
  transform: translateX(0);
  opacity: 1;
}

.plans p {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.plans.visible p {
  transform: translateX(0);
  opacity: 1;
}

.plan-item {
  display: flex;
  align-items: center;
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.tick-mark {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #00E689;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  content: '✔';
}

.tick-mark::before {
  content: '✔';
}

.plan-item p {
  margin-top: 15px;
  font-size: 16px;
  width: 8em;
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  font-style: italic;
  text-align: left;
}
.plans.visible .tick-mark {
  animation: tick-slide-in 0.3s forwards;
}

.plans.visible p {
  animation: text-slide-in 0.5s forwards;
}
.how-it-works-section {
  background-color: #181b17;
  color: white;
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how-it-works-section h1{
  font-size: 3em;
  font-family: "Libre Baskerville", serif;
  margin: 0.5em 0;
  color: #00E689;
}
.how-it-works-section p{
  font-size: 16px;
  color:#00E689;
  font-family: "Libre Baskerville", serif;
  font-weight: 500;
}

.how-it-works-boxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 3em;
  width: 80vw;
}

.how-it-works-box {
  background-color: #4e4e4e; 
  padding: 20px;
  width: 10em;
  height: 8em;
  border-radius: 0 2em 0 2em;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.how-it-works-box:hover {
  transform: rotateX(10deg) rotateY(-10deg) rotateZ(3deg); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.how-it-works-icon {
  font-size: 40px;
  margin-bottom: 5px;
}
.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #00E689;
  padding: 0 20px;
}

.footer-boxes {
  display: flex;
  justify-content: space-between;
  width: 90vw;
}
.footer-box1,
.footer-box2{
  text-align: left;
  width: 30%;
  color: rgb(0, 0, 0);
  padding: 10px;
}
.footer-box3{
  text-align:center;
  width: 30%;
  color: rgb(0, 0, 0);
  padding: 10px;
}
.footer-box1 a,
.footer-box2 a,
.footer-box3 a{
  color: #000;
}
.footer-box1 h3,
.footer-box2 h3,
.footer-box3 h3{
  font-size: 18px;
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  text-align: center;
}
.footer-box1 p,
.footer-box2 p,
.footer-box3 p{
  padding: 5px 0;
  font-family: 'Libre Bakersville', serif;
  font-size: 15px;
  font-weight: 600;
}
.bot-footer {
  background-color: rgb(0, 0, 0);
  color: #00E689;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  padding: 15px 0;
  width: 100vw;
  margin-bottom: 0;
}

.bot-footer svg {
  color: white;
  margin-left: 10px;
  font-size: 25px;
  padding-right: 1em;
  cursor: pointer;
}

.bot-footer p {
  font-family: 'Libre Bakersville', serif;
  font-size: 15px;
}

.footer-section h3 {
  margin-bottom: 10px;
}

.footer-section p {
  margin-bottom: 5px;
}

.about-hero {
  margin-top: 10em;
  background-image: url(../public/images/pegs.png);
  position: relative;
  width: 100vw;
  background-size: cover;
  background-position: left center;
  background-attachment: fixed;
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.about-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 1;
}

.about-hero h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
  text-decoration: underline;
  font-family: 'Libre Baskerville', serif;
  font-weight:700;
  font-size: 41px;
  color: #000;
  z-index: 2;
}

.about-hero h4 {
  font-size: 1.7em;
  margin-bottom: 1em;
  font-family: 'Cormorant', serif;
  font-weight: 700;
  color: #000;
  z-index:2;
}

.about-hero button {
  padding: 0.5em 1em;
  margin: 0.9em 0;
  background-color: #ffffff; 
  color: #000;
  border: 1px solid black;
  font-family: 'Cormorant', serif;
  font-size: 1.2em;
  font-weight: 700;
  border-radius: 4em;
  cursor: pointer;
  z-index: 2;
}
.about-hero button:hover {
  background-color: #00E689;
  transition: transform 0.3s ease;
  border: 1px solid #00E689;
}

.timeline {
  padding: 1.5em;
  border-radius: 8px;
  width: 25em;
  z-index: 2;
}
.timeline p {
  display: flex;
  justify-content: space-between;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.7em;
  margin: 1em 0em;
  color: #000;
  font-weight: 600;
}

.timeline p span {
  display: inline-block;
}

.timeline h3 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 2.5em;
  margin-bottom: 0.8em;
  color: #000000;
}

/* Base styling for the About section */
.about {
  display: flex;
  background-color: #d3d0d0;
  padding-top: 2em;
  justify-content: center;
  align-items: center;
  font-family: 'Cormorant', serif;
}

.about img {
  width: 50%;
  max-width: 450px;
  object-fit:contain;
  height: auto;
}

/* Styling for the content section */
.about-content {
  background-color: #000;
  padding: 20px;
  width: 50%;
  height:620px;
}

/* Heading and paragraph styling */
.about-content h1 {
  color: #ffffff;
  margin-bottom: 15px;
  font-size: 45px;
  padding: 0 1em;
  font-weight: 700;
}

.about-content p {
  color: #21d67c; 
  line-height: 1.6;
  margin-bottom: 15px;
  font-size: 1.4em;
  padding: 0 2em;
  font-weight: 700;
}
.c2a-container{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-c2a {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffffff; 
  margin-bottom: 5em;
  width:70vw;
  gap: 20px;
}
.c2a{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.c2a h2 {
  font-size: 40px;
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  color: #000000;
  margin-bottom: 1em;
}

.c2a button {
  background-color: #ffffff;
  color: #000000;
  padding: .8em 1em;
  border: 1px solid black;
  border-radius: 4em;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.c2a button:hover {
  background-color: rgb(37, 224, 121);
  border: 1px solid rgb(37, 224, 121);
}

.about-c2a img {
  width: 35em;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.services-hero {
  display: flex;
  justify-content: center;
  margin-top: 13em;
}

.services-container {
  position: relative;
  padding-bottom: 20em;
  padding-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: space-between;
  width: 90vw;
  height: auto;
  overflow: hidden;
}

.services-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width:1em; 
  max-height: 10em;
  object-fit: cover;
  padding-bottom: 5em;
  z-index: 0;
  margin-bottom: 20em;
}

.services-content {
  position: absolute;
  z-index:1;
  background-color: #00E689;
  padding: 40px;
  width: 60%;
  box-shadow: 0 4px 10px rgba(92, 71, 71, 0.2);
  margin-top: 1em;
  margin-left: 30em;
}

.services-content h1 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  color: #292F33;
  font-size: 45px;
  margin-bottom: 10px;
  padding:0 1em;
}

.services-content p { 
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  color: #292F33;
  margin-bottom: 10px;
  padding-left:3em;
  padding-right:5em;
  font-size: 18px;
  line-height: 1.8;
  padding-bottom: 3em;
}
.services-content a{
  color: #292F33;
}
/* Main Pricing Container */
.pricing {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

/* Bulk Pricing Section */
.bulk-pricing {
  width: 40%;
  text-align: center;
}

.bulk-pricing h2,
.item-pricing h2{
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 1em;
}

.bulk-pricing p {
  display: flex;
  justify-content: space-between;
  margin: .3em 0;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  font-size: 25px;
}

/* Item Pricing Section */
.item-pricing {
  width:85%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.item-pricing .item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .5em 0;
  margin-top: 0.5em;
  padding: 0 0em;
}

.item-pricing .item-list p {
  flex: 1 1 45%; /* Wrap items into two columns */
  display: flex;
  justify-content: space-between;
  margin: 0em 1.4em;
  font-family: 'Libre Baskerville', serif;
  font-size: 16px;
}

/* Centered Buttons */
.pricing-button {
  display: block;
  margin: 3em auto;
  padding: .8em 1.5em;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  cursor: pointer;
  transition: background-color 0.3s;
}
.pricing a{
  text-decoration: none;
}

.pricing-button:hover {
  background-color: #00E689;
  font-weight: 500;
  border: 1px solid #00E689;
}
.caveat{
  font-size: 15px;
  font-family: 'libre Baskerville', serif;
  line-height: 2;
  font-weight: 700;
  width: 80%;
  align-content: center;
  margin-bottom: 2em;
}
.contact-container{
  margin-top: 10em;
  text-align: center;
}
.contact-container h1{
  font-family:'Libre Baskerville', serif;
  font-weight: 700;
  font-size: 47px;
  padding: 1em 0;
}
/* Container Styling */
.contact-info {
  display: flex;
  background-color: rgb(0, 0, 0);
  padding: 2em;
}

/* Left Side Info Section */
.our-info {
  flex: 1;
  padding: 1em;
  color: #333;
}

.our-info h1 {
  margin-bottom: 1em;
}

.info-item {
  display: flex;
  align-items: center;
  margin: 0.5em 0;
}

.info-item .icon {
  margin-right: 0.5em;
  color: white;
}

.social-icons {
  display: flex;
  gap: 1em;
  margin-top: 1em;
}

.social-icons .icon {
  font-size: 1.2em;
  color: white;
}

/* Right Side Form Section */
.form {
  flex: 1;
  padding: 1em;
}
.form h1{
  color: white;
  text-align: center;
  margin-bottom: 1em;
}

.name-fields,
.contact-fields {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
}

.name-fields input,
.contact-fields input {
  flex: 1;
  padding: 0.8em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  width: 100%;
  height: 150px;
  margin-bottom: 1em;
  padding: 0.8em;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

button {
  display: block;
  margin-left: auto;
  padding: 0.8em 2em;
  background-color: #00E689;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #00c572;
}



@keyframes tick-slide-in {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes text-slide-in {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
